@font-face {
    font-family: "MyFont";
    src: url(./Font.ttf);
}

body {
    background-color: rgb(255, 244, 223);
    font-family: Arial;
    max-width: 1200px;
    margin: auto;
    padding:0%;
}
h1 {
    text-align: center;
    font-family: "MyFont";
}
h2 {
    margin-top: 50px;
    text-align: center;
    font-family: "MyFont";
}
h3 {
    font-size: medium;
    margin-top: 50px;
    max-width: 100%;
}
button {
    position: absolute;
    width: 120px;
    height: 120px;
    padding: 0;
    background-color: grey;
    border-color: black;
    border-radius: 18px;
    margin-top: 10px;
}
button img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
}
button:hover {
    background: darkgray;
}
a {
    display: block;
}
li {
    font-size: large;
    font-family: Arial;
}